{% include 'overall_header.html' %}

<h1>{{ lang('ACP_PRIMENOTIFY_SETTINGS') }}</h1>
<p>{{ lang('ACP_PRIMENOTIFY_USER_CHOICE_MSG') }}</p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="acp_board" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<dl>
			<dt><label for="primenotify_enable_post">{{ lang('ACP_PRIMENOTIFY_ENABLE_POST') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_PRIMENOTIFY_ENABLE_POST_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" id="primenotify_enable_post" name="primenotify_enable_post" value="{{ PRIMENOTIFY_ENABLED }}" {% if PRIMENOTIFY_ENABLE_POST == PRIMENOTIFY_ENABLED %}checked="checked" {% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="primenotify_enable_post" value="{{ PRIMENOTIFY_DISABLED }}" {% if PRIMENOTIFY_ENABLE_POST == PRIMENOTIFY_DISABLED %}checked="checked" {% endif %}/> {{ lang('NO') }}</label>
				<label><input type="radio" class="radio" name="primenotify_enable_post" value="{{ PRIMENOTIFY_USER_CHOICE }}" {% if PRIMENOTIFY_ENABLE_POST == PRIMENOTIFY_USER_CHOICE %}checked="checked" {% endif %}/> {{ lang('ACP_PRIMENOTIFY_USER_CHOICE') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="primenotify_enable_pm">{{ lang('ACP_PRIMENOTIFY_ENABLE_PM') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_PRIMENOTIFY_ENABLE_PM_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" id="primenotify_enable_pm" name="primenotify_enable_pm" value="{{ PRIMENOTIFY_ENABLED }}" {% if PRIMENOTIFY_ENABLE_PM == PRIMENOTIFY_ENABLED %}checked="checked" {% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="primenotify_enable_pm" value="{{ PRIMENOTIFY_DISABLED }}" {% if PRIMENOTIFY_ENABLE_PM == PRIMENOTIFY_DISABLED %}checked="checked" {% endif %}/> {{ lang('NO') }}</label>
					<label><input type="radio" class="radio" name="primenotify_enable_pm" value="{{ PRIMENOTIFY_USER_CHOICE }}" {% if PRIMENOTIFY_ENABLE_PM == PRIMENOTIFY_USER_CHOICE %}checked="checked" {% endif %}/> {{ lang('ACP_PRIMENOTIFY_USER_CHOICE') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="primenotify_keep_bbcodes">{{ lang('ACP_PRIMENOTIFY_KEEP_BBCODES') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_PRIMENOTIFY_KEEP_BBCODES_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" id="primenotify_keep_bbcodes" name="primenotify_keep_bbcodes" value="{{ PRIMENOTIFY_ENABLED }}" {% if PRIMENOTIFY_KEEP_BBCODES == PRIMENOTIFY_ENABLED %}checked="checked" {% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="primenotify_keep_bbcodes" value="{{ PRIMENOTIFY_DISABLED }}" {% if PRIMENOTIFY_KEEP_BBCODES == PRIMENOTIFY_DISABLED %}checked="checked" {% endif %}/> {{ lang('NO') }}</label>
					<label><input type="radio" class="radio" name="primenotify_keep_bbcodes" value="{{ PRIMENOTIFY_USER_CHOICE }}" {% if PRIMENOTIFY_KEEP_BBCODES == PRIMENOTIFY_USER_CHOICE %}checked="checked" {% endif %}/> {{ lang('ACP_PRIMENOTIFY_USER_CHOICE') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="primenotify_always_send">{{ lang('ACP_PRIMENOTIFY_ALWAYS_SEND') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_PRIMENOTIFY_ALWAYS_SEND_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" id="primenotify_always_send" name="primenotify_always_send" value="{{ PRIMENOTIFY_ENABLED }}" {% if PRIMENOTIFY_ALWAYS_SEND == PRIMENOTIFY_ENABLED %}checked="checked" {% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="primenotify_always_send" value="{{ PRIMENOTIFY_DISABLED }}" {% if PRIMENOTIFY_ALWAYS_SEND == PRIMENOTIFY_DISABLED %}checked="checked" {% endif %}/> {{ lang('NO') }}</label>
					<label><input type="radio" class="radio" name="primenotify_always_send" value="{{ PRIMENOTIFY_USER_CHOICE }}" {% if PRIMENOTIFY_ALWAYS_SEND == PRIMENOTIFY_USER_CHOICE %}checked="checked" {% endif %}/> {{ lang('ACP_PRIMENOTIFY_USER_CHOICE') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="primenotify_truncate">{{ lang('ACP_PRIMENOTIFY_TRUNCATE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_PRIMENOTIFY_TRUNCATE_EXPLAIN') }}</span></dt>
			<dd><input type="number" min="0" id="primenotify_truncate" name="primenotify_truncate" value="{{ PRIMENOTIFY_TRUNCATE }}"/></dd>
		</dl>

		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}